<!DOCTYPE html>
    <!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
    <!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
    <!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<html>
<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <title>Pixma Responsive HTML5/CSS3 Template | FIFO THEMES</title>
  <meta name="description" content="Pixma Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
  <meta name="author" content="FIFOTHEMES.COM">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Library CSS -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Favicons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-touch-icon-144.png">
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <!--[if IE]>
  <link rel="stylesheet" href="css/ie.css">
  <![endif]-->

  <%= csrf_meta_tags %>
</head>

<body class="home">

    <!-- Wrap Start -->
    <div class="wrap">
      <!-- Header Start -->
      <%= render 'shared/header/header'%>
      <!-- Header End -->
      <%= yield %>
    </div>
    <!-- Wrap End -->
</body>

</html>
